.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.cards {
  width: 30%;
}

.reverseContainer {
  display: flex;
  flex-direction: column-reverse;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.askBar {
  background-color: crimson;
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.bidBar {
  background-color: green;
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.ask {
  color: crimson;
}

.bid {
  color: green;
}
